.photo__item{
    padding-top: 12px;
    width: 100%;
}
.photo__item:first-of-type{
    padding-top: 0;
}
@media screen and (min-width: 425px){
    .photo__item{
        padding-top: 0;
    }
}