.place{
    display: flex;
    flex-direction: column;
    padding-top: 49px;
}
.place:first-of-type{
    padding-top: 64px;
}
@media screen and (min-width:700px){
    .place{
        display:grid;
        grid-template-areas: 
        "title url"
        "image paragraph";
        justify-content: center;
        gap: 28px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        padding-top: 80px;
        margin-left: 24px;
        margin-right: 24px;
    }
    .place:first-of-type{
        padding-top: 80px;
    }
} 
@media screen and (min-width:870px){
    .place{
        gap: 24px;
        margin-left: 48px;
        margin-right: 48px;
    }
}
@media screen and (min-width:1025px){
    .place{
        margin: auto;
        max-width: 984px;
    }
    .place:first-of-type{
        padding-top: 92px;
    }
}
