.place{
    display: flex;
    flex-direction: column;
    padding-top: 49px;
}
.place:first-of-type{
    padding-top: 64px;
}
@media screen and (min-width:700px){
    .place{
        display:grid;
        grid-template-areas: 
        "title url"
        "image paragraph";
        justify-content: center;
        gap: 28px;
        grid-template-columns:minmax(200px, 340px) minmax(200px, 352px);
        grid-template-rows: minmax(30px, 92px) minmax(100px, 441px);
        padding-top: 73px;
    }
    .place:first-of-type{
        padding-top: 80px;
    }
} 
@media screen and (min-width:870px){
    .place{
        gap: 24px;
        grid-template-columns:minmax(200px, 440px) minmax(200px, 456px);
        grid-template-rows: minmax(50px, 152px) minmax(100px, 440px);
        padding-top: 80px;
        margin-left: 48px;
        margin-right: 48px;
    }
}
@media screen and (min-width:1025px){
    .place{
        grid-template-columns:minmax(200px, 460px) minmax(200px, 484px);
        grid-template-rows: minmax(50px, 152px) minmax(100px, 460px);
        padding-top: 80px;
        margin: auto;
        max-width: 984px;
    }
    .place:first-of-type{
        padding-top: 92px;
    }
}