.footer{
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    margin-left: 16px;
}

@media screen and (min-width: 740px){
    .footer{
        max-width: 720px;
        flex-direction: row;
        padding-top: 88px;
        margin: auto;
        padding-bottom: 24px;
        justify-content: space-between;
    }
}
@media screen and (min-width: 850px){
    .footer{
        margin-left: 48px;
        margin-right: 48px;
        max-width: 1184px;
    }
}
@media screen and (min-width: 1025px){
    .footer{
        padding-top: 92px; 
    }
}
@media screen and (min-width: 1281px){
    .footer{
        margin: auto;
    }
}